.accordion {
  display: block;
}

.accordion-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .accordion-btn {
    transition: all 0.2s ease-in-out;
    rotate: 0;
    @at-root .accordion.show & {
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
    }
  }
}
.accordion-content {
  max-height: 0;
  display: none;
  transition: all 0.2s ease-in-out;
  @at-root .accordion.show & {
    display: block;
    max-height: 100%;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
  }
}