$active-menu: #666666;

.menu-title {
  color: var(--bs-secondary);
  font-size: 16px;
  margin-bottom: 0px;
}
.menu-item {
  color: var(--bs-secondary);
  font-size: 14px;
  margin-bottom: 0px;
}
.menu-item-link {
  padding: 12px 0px;
  color: var(--bs-secondary);
  text-decoration: none;
  &.active {
    color: $active-menu;
    font-weight: bold;
  }
  &:hover {
    color: $active-menu;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
}

.menu-item-link-title {
  margin-left: 1rem;
}