@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$neutral-300: #6F708B;

html, body {
  font-family: 'Inter', sans-serif;
  color: #454560;
}

// remove default browser styles
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

p {
  margin: 0;
}

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.min-h-screen {
  min-height: 100vh;
}
.flex-1 {
  flex: 1;
}
.object-center {
  object-position: center;
}
.object-cover {
  object-fit: cover;
}
.object-bottom {
  object-position: bottom;
}
.overflow-hidden {
  overflow: hidden;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.uppercase {
  text-transform: uppercase;
}
.text-blue {
  color: #3B82F6;
}
.nowrap {
  white-space: nowrap;
}
.text-neutral-300{
  color: $neutral-300;
}
.w-fit {
  width: fit-content;
}